**/target/
**/*.rs.bk

**/Cargo.lock

**/Cargo.toml.orig
**/Cargo.toml.lock
**/target/debug/
**/target/release/


**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/.DS_Store

**/*.iml
**/.vscode/

**/node_modules/
**/.cargo/


**/test.txt
**/data.txt
**/demo.txt
